In [298]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []

        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2               3  \
0               None            None            None            None
1         España [+]    391.540,0 M€    423.220,7 M$    435.040,6 M€
2       Alemania [+]  1.589.306,3 M€  1.688.419,2 M$  1.365.703,4 M€
3    Reino Unido [+]    481.541,3 M€    520.690,6 M$    731.806,1 M€
4        Francia [+]    599.862,5 M€    648.480,7 M$    727.129,5 M€
..               ...             ...             ...             ...
188        Samoa [+]         39,2 M€         42,4 M$        432,9 M€
189        Yemen [+]        209,0 M€        226,0 M$      4.652,7 M€
190    Sudáfrica [+]    102.520,4 M€    110.855,3 M$    120.916,5 M€
191       Zambia [+]      8.926,1 M€      9.651,8 M$      8.622,6 M€
192     Zimbabue [+]      6.682,0 M€      7.225,2 M$      8.521,2 M€

                  4              5              6        7            8  \
0              None           None           None     None         None
1      470.328,2 M$   -43.500,6 M€   -47.107,6 M$   89,98%       -2,98%
2    1.462.601,7 M$   223.602,9 M€   225.817,5 M$  115,44%        5,42%
3      791.302,0 M$  -250.264,8 M€  -270.611,3 M$   65,80%       -8,10%
4      785.884,4 M$  -127.266,9 M€  -137.403,6 M$   82,52%       -4,51%
..              ...            ...            ...      ...          ...
188        468,1 M$      -393,7 M€      -425,7 M$    9,06%      -45,57%
189      5.031,0 M$    -4.443,7 M€    -4.805,0 M$    4,49%      -19,55%
190    130.747,0 M$   -18.396,1 M€   -19.891,7 M$   84,79%       -5,27%
191      9.323,6 M$       303,5 M€       328,2 M$  103,52%        1,17%
192      9.214,0 M$    -1.839,3 M€    -1.988,8 M$   78,42%  -26.432,99%

              9
0          None
1          2,59
2          3,15
3          1,34
4          2,76
..          ...
188        2,30
189        3,26
190       -1,98
191       -7,80
192  -26.426,42

[193 rows x 10 columns]

In [299]:
df

,0,1,2,3,4,5,6,7,8,9
0,None,None,None,None,None,None,None,None,None,None
1,España [+],"391.540,0 M€","423.220,7 M$","435.040,6 M€","470.328,2 M$","-43.500,6 M€","-47.107,6 M$","89,98%","-2,98%","2,59"
2,Alemania [+],"1.589.306,3 M€","1.688.419,2 M$","1.365.703,4 M€","1.462.601,7 M$","223.602,9 M€","225.817,5 M$","115,44%","5,42%","3,15"
3,Reino Unido [+],"481.541,3 M€","520.690,6 M$","731.806,1 M€","791.302,0 M$","-250.264,8 M€","-270.611,3 M$","65,80%","-8,10%","1,34"
4,Francia [+],"599.862,5 M€","648.480,7 M$","727.129,5 M€","785.884,4 M$","-127.266,9 M€","-137.403,6 M$","82,52%","-4,51%","2,76"
...,...,...,...,...,...,...,...,...,...,...
188,Samoa [+],"39,2 M€","42,4 M$","432,9 M€","468,1 M$","-393,7 M€","-425,7 M$","9,06%","-45,57%","2,30"
189,Yemen [+],"209,0 M€","226,0 M$","4.652,7 M€","5.031,0 M$","-4.443,7 M€","-4.805,0 M$","4,49%","-19,55%","3,26"
190,Sudáfrica [+],"102.520,4 M€","110.855,3 M$","120.916,5 M€","130.747,0 M$","-18.396,1 M€","-19.891,7 M$","84,79%","-5,27%","-1,98"
191,Zambia [+],"8.926,1 M€","9.651,8 M$","8.622,6 M€","9.323,6 M$","303,5 M€","328,2 M$","103,52%","1,17%","-7,80"
192,Zimbabue [+],"6.682,0 M€","7.225,2 M$","8.521,2 M€","9.214,0 M$","-1.839,3 M€","-1.988,8 M$","78,42%","-26.432,99%","-26.426,42"

In [300]:
df.drop([0], axis=0,inplace=True)

In [301]:
df

,0,1,2,3,4,5,6,7,8,9
1,España [+],"391.540,0 M€","423.220,7 M$","435.040,6 M€","470.328,2 M$","-43.500,6 M€","-47.107,6 M$","89,98%","-2,98%","2,59"
2,Alemania [+],"1.589.306,3 M€","1.688.419,2 M$","1.365.703,4 M€","1.462.601,7 M$","223.602,9 M€","225.817,5 M$","115,44%","5,42%","3,15"
3,Reino Unido [+],"481.541,3 M€","520.690,6 M$","731.806,1 M€","791.302,0 M$","-250.264,8 M€","-270.611,3 M$","65,80%","-8,10%","1,34"
4,Francia [+],"599.862,5 M€","648.480,7 M$","727.129,5 M€","785.884,4 M$","-127.266,9 M€","-137.403,6 M$","82,52%","-4,51%","2,76"
5,Italia [+],"626.204,5 M€","676.963,3 M$","591.831,5 M€","639.630,1 M$","34.373,0 M€","37.333,2 M$","105,84%","1,65%","3,38"
...,...,...,...,...,...,...,...,...,...,...
188,Samoa [+],"39,2 M€","42,4 M$","432,9 M€","468,1 M$","-393,7 M€","-425,7 M$","9,06%","-45,57%","2,30"
189,Yemen [+],"209,0 M€","226,0 M$","4.652,7 M€","5.031,0 M$","-4.443,7 M€","-4.805,0 M$","4,49%","-19,55%","3,26"
190,Sudáfrica [+],"102.520,4 M€","110.855,3 M$","120.916,5 M€","130.747,0 M$","-18.396,1 M€","-19.891,7 M$","84,79%","-5,27%","-1,98"
191,Zambia [+],"8.926,1 M€","9.651,8 M$","8.622,6 M€","9.323,6 M$","303,5 M€","328,2 M$","103,52%","1,17%","-7,80"
192,Zimbabue [+],"6.682,0 M€","7.225,2 M$","8.521,2 M€","9.214,0 M$","-1.839,3 M€","-1.988,8 M$","78,42%","-26.432,99%","-26.426,42"

In [302]:
df.columns

RangeIndex(start=0, stop=10, step=1)

In [303]:
column_names = ["País", "1", "2", "3", "4","Balanza_comercial", "6", "7","%PIB", "9"]

df.columns = column_names

df

,País,1,2,3,4,Balanza_comercial,6,7,%PIB,9
1,España [+],"391.540,0 M€","423.220,7 M$","435.040,6 M€","470.328,2 M$","-43.500,6 M€","-47.107,6 M$","89,98%","-2,98%","2,59"
2,Alemania [+],"1.589.306,3 M€","1.688.419,2 M$","1.365.703,4 M€","1.462.601,7 M$","223.602,9 M€","225.817,5 M$","115,44%","5,42%","3,15"
3,Reino Unido [+],"481.541,3 M€","520.690,6 M$","731.806,1 M€","791.302,0 M$","-250.264,8 M€","-270.611,3 M$","65,80%","-8,10%","1,34"
4,Francia [+],"599.862,5 M€","648.480,7 M$","727.129,5 M€","785.884,4 M$","-127.266,9 M€","-137.403,6 M$","82,52%","-4,51%","2,76"
5,Italia [+],"626.204,5 M€","676.963,3 M$","591.831,5 M€","639.630,1 M$","34.373,0 M€","37.333,2 M$","105,84%","1,65%","3,38"
...,...,...,...,...,...,...,...,...,...,...
188,Samoa [+],"39,2 M€","42,4 M$","432,9 M€","468,1 M$","-393,7 M€","-425,7 M$","9,06%","-45,57%","2,30"
189,Yemen [+],"209,0 M€","226,0 M$","4.652,7 M€","5.031,0 M$","-4.443,7 M€","-4.805,0 M$","4,49%","-19,55%","3,26"
190,Sudáfrica [+],"102.520,4 M€","110.855,3 M$","120.916,5 M€","130.747,0 M$","-18.396,1 M€","-19.891,7 M$","84,79%","-5,27%","-1,98"
191,Zambia [+],"8.926,1 M€","9.651,8 M$","8.622,6 M€","9.323,6 M$","303,5 M€","328,2 M$","103,52%","1,17%","-7,80"
192,Zimbabue [+],"6.682,0 M€","7.225,2 M$","8.521,2 M€","9.214,0 M$","-1.839,3 M€","-1.988,8 M$","78,42%","-26.432,99%","-26.426,42"

In [304]:
df_2023 = df[["País", "Balanza_comercial", "%PIB"]]
df_2023

                País Balanza_comercial         %PIB
1         España [+]      -43.500,6 M€       -2,98%
2       Alemania [+]      223.602,9 M€        5,42%
3    Reino Unido [+]     -250.264,8 M€       -8,10%
4        Francia [+]     -127.266,9 M€       -4,51%
5         Italia [+]       34.373,0 M€        1,65%
..               ...               ...          ...
188        Samoa [+]         -393,7 M€      -45,57%
189        Yemen [+]       -4.443,7 M€      -19,55%
190    Sudáfrica [+]      -18.396,1 M€       -5,27%
191       Zambia [+]          303,5 M€        1,17%
192     Zimbabue [+]       -1.839,3 M€  -26.432,99%

[192 rows x 3 columns]

In [305]:
df_2023["Año"]= 2023
df_2023

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/2403313371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023["Año"]= 2023

                País Balanza_comercial         %PIB   Año
1         España [+]      -43.500,6 M€       -2,98%  2023
2       Alemania [+]      223.602,9 M€        5,42%  2023
3    Reino Unido [+]     -250.264,8 M€       -8,10%  2023
4        Francia [+]     -127.266,9 M€       -4,51%  2023
5         Italia [+]       34.373,0 M€        1,65%  2023
..               ...               ...          ...   ...
188        Samoa [+]         -393,7 M€      -45,57%  2023
189        Yemen [+]       -4.443,7 M€      -19,55%  2023
190    Sudáfrica [+]      -18.396,1 M€       -5,27%  2023
191       Zambia [+]          303,5 M€        1,17%  2023
192     Zimbabue [+]       -1.839,3 M€  -26.432,99%  2023

[192 rows x 4 columns]

In [306]:
def clean(df):
    df.drop([0], axis=0,inplace=True)
    column_names = ["País", "1", "2", "3", "4","Balanza_comercial", "6", "7","%PIB", "9"]
    df.columns = column_names
    return df

In [307]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2022"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2               3  \
0               None            None            None            None
1         España [+]    394.896,9 M€    415.461,7 M$    469.850,5 M€
2       Alemania [+]  1.593.285,4 M€  1.675.846,8 M$  1.505.152,9 M€
3    Reino Unido [+]    506.155,8 M€    532.982,1 M$    782.095,8 M€
4        Francia [+]    589.710,2 M€    620.460,8 M$    782.853,9 M€
..               ...             ...             ...             ...
188        Samoa [+]         39,5 M€         41,6 M$        417,8 M€
189        Yemen [+]        655,3 M€        690,0 M$      5.023,2 M€
190    Sudáfrica [+]    116.714,7 M€    122.900,6 M$    129.351,3 M€
191       Zambia [+]     11.076,8 M€     11.663,8 M$      8.594,4 M€
192     Zimbabue [+]      6.254,1 M€      6.585,6 M$      8.217,2 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      494.258,6 M$   -74.953,5 M€   -78.796,9 M$   84,06%   -5,57%  -2,79
2    1.582.594,9 M$    88.132,6 M€    93.251,9 M$  105,89%    2,27%  -2,74
3      823.546,9 M$  -275.940,0 M€  -290.564,8 M$   64,72%   -9,44%  -2,26
4      823.216,1 M$  -193.143,7 M€  -202.755,2 M$   75,37%   -7,27%  -2,87
..              ...            ...            ...      ...      ...    ...
188        440,0 M$      -378,4 M€      -398,4 M$    9,45%  -47,87%  -7,63
189      5.289,4 M$    -4.367,9 M€    -4.599,4 M$   13,05%  -19,55%   3,26
190    136.206,9 M$   -12.636,6 M€   -13.306,3 M$   90,23%   -3,29%  -5,58
191      9.049,9 M$     2.482,4 M€     2.613,9 M$  128,88%    8,97%  -8,24
192      8.652,7 M$    -1.963,1 M€    -2.067,1 M$   76,11%   -6,57%  -2,28

[193 rows x 10 columns]

In [308]:
clean(df)
df

,País,1,2,3,4,Balanza_comercial,6,7,%PIB,9
1,España [+],"394.896,9 M€","415.461,7 M$","469.850,5 M€","494.258,6 M$","-74.953,5 M€","-78.796,9 M$","84,06%","-5,57%","-2,79"
2,Alemania [+],"1.593.285,4 M€","1.675.846,8 M$","1.505.152,9 M€","1.582.594,9 M$","88.132,6 M€","93.251,9 M$","105,89%","2,27%","-2,74"
3,Reino Unido [+],"506.155,8 M€","532.982,1 M$","782.095,8 M€","823.546,9 M$","-275.940,0 M€","-290.564,8 M$","64,72%","-9,44%","-2,26"
4,Francia [+],"589.710,2 M€","620.460,8 M$","782.853,9 M€","823.216,1 M$","-193.143,7 M€","-202.755,2 M$","75,37%","-7,27%","-2,87"
5,Italia [+],"626.169,4 M€","658.557,1 M$","660.210,0 M€","694.305,3 M$","-34.040,6 M€","-35.748,2 M$","94,85%","-1,73%","-3,94"
...,...,...,...,...,...,...,...,...,...,...
188,Samoa [+],"39,5 M€","41,6 M$","417,8 M€","440,0 M$","-378,4 M€","-398,4 M$","9,45%","-47,87%","-7,63"
189,Yemen [+],"655,3 M€","690,0 M$","5.023,2 M€","5.289,4 M$","-4.367,9 M€","-4.599,4 M$","13,05%","-19,55%","3,26"
190,Sudáfrica [+],"116.714,7 M€","122.900,6 M$","129.351,3 M€","136.206,9 M$","-12.636,6 M€","-13.306,3 M$","90,23%","-3,29%","-5,58"
191,Zambia [+],"11.076,8 M€","11.663,8 M$","8.594,4 M€","9.049,9 M$","2.482,4 M€","2.613,9 M$","128,88%","8,97%","-8,24"
192,Zimbabue [+],"6.254,1 M€","6.585,6 M$","8.217,2 M€","8.652,7 M$","-1.963,1 M€","-2.067,1 M$","76,11%","-6,57%","-2,28"

In [309]:
df_2022 = df[["País", "Balanza_comercial", "%PIB"]]
df_2022

                País Balanza_comercial     %PIB
1         España [+]      -74.953,5 M€   -5,57%
2       Alemania [+]       88.132,6 M€    2,27%
3    Reino Unido [+]     -275.940,0 M€   -9,44%
4        Francia [+]     -193.143,7 M€   -7,27%
5         Italia [+]      -34.040,6 M€   -1,73%
..               ...               ...      ...
188        Samoa [+]         -378,4 M€  -47,87%
189        Yemen [+]       -4.367,9 M€  -19,55%
190    Sudáfrica [+]      -12.636,6 M€   -3,29%
191       Zambia [+]        2.482,4 M€    8,97%
192     Zimbabue [+]       -1.963,1 M€   -6,57%

[192 rows x 3 columns]

In [310]:
df_2022["Año"]= 2022
df_2022

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/2340739744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022["Año"]= 2022

                País Balanza_comercial     %PIB   Año
1         España [+]      -74.953,5 M€   -5,57%  2022
2       Alemania [+]       88.132,6 M€    2,27%  2022
3    Reino Unido [+]     -275.940,0 M€   -9,44%  2022
4        Francia [+]     -193.143,7 M€   -7,27%  2022
5         Italia [+]      -34.040,6 M€   -1,73%  2022
..               ...               ...      ...   ...
188        Samoa [+]         -378,4 M€  -47,87%  2022
189        Yemen [+]       -4.367,9 M€  -19,55%  2022
190    Sudáfrica [+]      -12.636,6 M€   -3,29%  2022
191       Zambia [+]        2.482,4 M€    8,97%  2022
192     Zimbabue [+]       -1.963,1 M€   -6,57%  2022

[192 rows x 4 columns]

In [311]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2021"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2               3  \
0               None            None            None            None
1         España [+]    321.434,9 M€    379.969,1 M$    355.442,0 M€
2       Alemania [+]  1.376.195,5 M€  1.636.741,8 M$  1.194.375,6 M€
3    Reino Unido [+]    397.825,5 M€    470.508,2 M$    587.330,1 M€
4        Francia [+]    494.948,8 M€    585.020,8 M$    605.254,5 M€
..               ...             ...             ...             ...
188        Samoa [+]         24,4 M€         28,8 M$        311,4 M€
189        Yemen [+]        559,7 M€        662,0 M$      4.272,9 M€
190    Sudáfrica [+]    104.482,6 M€    123.571,6 M$     96.380,2 M€
191       Zambia [+]      8.540,9 M€     10.101,4 M$      5.441,3 M€
192     Zimbabue [+]      5.103,7 M€      6.036,2 M$      6.406,8 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      419.700,1 M$   -34.007,0 M€   -33.750,7 M$   90,53%   -2,78%  -1,38
2    1.421.512,1 M$   181.819,9 M€   212.469,3 M$  115,14%    5,01%  -0,39
3      694.635,2 M$  -189.504,6 M€  -226.341,3 M$   67,73%   -7,18%   1,47
4      715.082,4 M$  -110.305,7 M€  -129.267,0 M$   81,81%   -4,40%  -0,89
..              ...            ...            ...      ...      ...    ...
188        368,2 M$      -287,0 M€      -339,1 M$    7,83%  -40,24%  -8,70
189      5.053,5 M$    -3.713,1 M€    -9.007,0 M$   13,10%  -22,81%  -0,17
190    113.988,9 M$     8.102,5 M€     9.582,8 M$  108,41%    2,29%   1,77
191      6.435,4 M$     3.099,7 M€     4.005,4 M$  156,97%   17,21%   2,65
192      7.577,3 M$    -1.303,1 M€    -1.541,1 M$   79,66%   -4,29%   0,35

[193 rows x 10 columns]

In [312]:
clean(df)
df

,País,1,2,3,4,Balanza_comercial,6,7,%PIB,9
1,España [+],"321.434,9 M€","379.969,1 M$","355.442,0 M€","419.700,1 M$","-34.007,0 M€","-33.750,7 M$","90,53%","-2,78%","-1,38"
2,Alemania [+],"1.376.195,5 M€","1.636.741,8 M$","1.194.375,6 M€","1.421.512,1 M$","181.819,9 M€","212.469,3 M$","115,14%","5,01%","-0,39"
3,Reino Unido [+],"397.825,5 M€","470.508,2 M$","587.330,1 M€","694.635,2 M$","-189.504,6 M€","-226.341,3 M$","67,73%","-7,18%","1,47"
4,Francia [+],"494.948,8 M€","585.020,8 M$","605.254,5 M€","715.082,4 M$","-110.305,7 M€","-129.267,0 M$","81,81%","-4,40%","-0,89"
5,Italia [+],"520.771,1 M€","615.635,2 M$","480.437,4 M€","567.421,2 M$","40.333,7 M€","59.897,4 M$","108,50%","2,21%","-1,60"
...,...,...,...,...,...,...,...,...,...,...
188,Samoa [+],"24,4 M€","28,8 M$","311,4 M€","368,2 M$","-287,0 M€","-339,1 M$","7,83%","-40,24%","-8,70"
189,Yemen [+],"559,7 M€","662,0 M$","4.272,9 M€","5.053,5 M$","-3.713,1 M€","-9.007,0 M$","13,10%","-22,81%","-0,17"
190,Sudáfrica [+],"104.482,6 M€","123.571,6 M$","96.380,2 M€","113.988,9 M$","8.102,5 M€","9.582,8 M$","108,41%","2,29%","1,77"
191,Zambia [+],"8.540,9 M€","10.101,4 M$","5.441,3 M€","6.435,4 M$","3.099,7 M€","4.005,4 M$","156,97%","17,21%","2,65"
192,Zimbabue [+],"5.103,7 M€","6.036,2 M$","6.406,8 M€","7.577,3 M$","-1.303,1 M€","-1.541,1 M$","79,66%","-4,29%","0,35"

In [313]:
df_2021 = df[["País", "Balanza_comercial", "%PIB"]]
df_2021

                País Balanza_comercial     %PIB
1         España [+]      -34.007,0 M€   -2,78%
2       Alemania [+]      181.819,9 M€    5,01%
3    Reino Unido [+]     -189.504,6 M€   -7,18%
4        Francia [+]     -110.305,7 M€   -4,40%
5         Italia [+]       40.333,7 M€    2,21%
..               ...               ...      ...
188        Samoa [+]         -287,0 M€  -40,24%
189        Yemen [+]       -3.713,1 M€  -22,81%
190    Sudáfrica [+]        8.102,5 M€    2,29%
191       Zambia [+]        3.099,7 M€   17,21%
192     Zimbabue [+]       -1.303,1 M€   -4,29%

[192 rows x 3 columns]

In [314]:
df_2021["Año"]= 2021
df_2021

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/4262305184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021["Año"]= 2021

                País Balanza_comercial     %PIB   Año
1         España [+]      -34.007,0 M€   -2,78%  2021
2       Alemania [+]      181.819,9 M€    5,01%  2021
3    Reino Unido [+]     -189.504,6 M€   -7,18%  2021
4        Francia [+]     -110.305,7 M€   -4,40%  2021
5         Italia [+]       40.333,7 M€    2,21%  2021
..               ...               ...      ...   ...
188        Samoa [+]         -287,0 M€  -40,24%  2021
189        Yemen [+]       -3.713,1 M€  -22,81%  2021
190    Sudáfrica [+]        8.102,5 M€    2,29%  2021
191       Zambia [+]        3.099,7 M€   17,21%  2021
192     Zimbabue [+]       -1.303,1 M€   -4,29%  2021

[192 rows x 4 columns]

In [315]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2020"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2               3  \
0               None            None            None            None
1         España [+]    269.521,0 M€    308.316,5 M$    285.215,4 M€
2       Alemania [+]  1.209.207,7 M€  1.382.532,8 M$  1.025.490,8 M€
3    Reino Unido [+]    349.789,0 M€    399.528,9 M$    558.790,6 M€
4        Francia [+]    427.236,2 M€    488.636,8 M$    508.499,3 M€
..               ...             ...             ...             ...
188        Samoa [+]         32,6 M€         37,2 M$        272,8 M€
189        Yemen [+]        353,7 M€        404,0 M$      4.093,5 M€
190    Sudáfrica [+]     75.147,8 M€     85.833,8 M$     73.596,5 M€
191       Zambia [+]      6.937,3 M€      7.923,7 M$      4.626,8 M€
192     Zimbabue [+]      3.847,7 M€      4.394,8 M$      4.940,6 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      326.192,3 M$   -15.694,4 M€   -17.997,9 M$   94,52%   -1,40%   1,38
2    1.171.782,0 M$   183.716,9 M€   209.212,3 M$  117,99%    5,40%  -1,22
3      638.250,6 M$  -209.001,7 M€  -231.390,8 M$   62,60%   -8,65%  -0,74
4      581.296,8 M$   -81.263,2 M€   -94.006,6 M$   84,06%   -3,51%  -0,44
..              ...            ...            ...      ...      ...    ...
188        311,6 M$      -240,2 M€      -274,3 M$   11,95%  -31,54%   5,86
189      4.675,6 M$    -3.739,8 M€    -6.440,8 M$    8,64%  -22,64%  -4,05
190     84.062,0 M$     1.551,2 M€     1.771,8 M$  102,11%    0,52%   5,03
191      5.284,7 M$     2.310,5 M€     2.488,9 M$  149,94%   14,56%  15,13
192      5.643,1 M$    -1.092,9 M€      -896,6 M$   77,88%   -4,64%  -2,26

[193 rows x 10 columns]

In [316]:
clean(df)
df

,País,1,2,3,4,Balanza_comercial,6,7,%PIB,9
1,España [+],"269.521,0 M€","308.316,5 M$","285.215,4 M€","326.192,3 M$","-15.694,4 M€","-17.997,9 M$","94,52%","-1,40%","1,38"
2,Alemania [+],"1.209.207,7 M€","1.382.532,8 M$","1.025.490,8 M€","1.171.782,0 M$","183.716,9 M€","209.212,3 M$","117,99%","5,40%","-1,22"
3,Reino Unido [+],"349.789,0 M€","399.528,9 M$","558.790,6 M€","638.250,6 M$","-209.001,7 M€","-231.390,8 M$","62,60%","-8,65%","-0,74"
4,Francia [+],"427.236,2 M€","488.636,8 M$","508.499,3 M€","581.296,8 M$","-81.263,2 M€","-94.006,6 M$","84,06%","-3,51%","-0,44"
5,Italia [+],"436.717,8 M€","499.792,2 M$","373.428,3 M€","426.867,1 M$","63.289,5 M€","73.229,2 M$","117,08%","3,81%","0,69"
...,...,...,...,...,...,...,...,...,...,...
188,Samoa [+],"32,6 M€","37,2 M$","272,8 M€","311,6 M$","-240,2 M€","-274,3 M$","11,95%","-31,54%","5,86"
189,Yemen [+],"353,7 M€","404,0 M$","4.093,5 M€","4.675,6 M$","-3.739,8 M€","-6.440,8 M$","8,64%","-22,64%","-4,05"
190,Sudáfrica [+],"75.147,8 M€","85.833,8 M$","73.596,5 M€","84.062,0 M$","1.551,2 M€","1.771,8 M$","102,11%","0,52%","5,03"
191,Zambia [+],"6.937,3 M€","7.923,7 M$","4.626,8 M€","5.284,7 M$","2.310,5 M€","2.488,9 M$","149,94%","14,56%","15,13"
192,Zimbabue [+],"3.847,7 M€","4.394,8 M$","4.940,6 M€","5.643,1 M$","-1.092,9 M€","-896,6 M$","77,88%","-4,64%","-2,26"

In [317]:
df_2020 = df[["País", "Balanza_comercial", "%PIB"]]
df_2020

                País Balanza_comercial     %PIB
1         España [+]      -15.694,4 M€   -1,40%
2       Alemania [+]      183.716,9 M€    5,40%
3    Reino Unido [+]     -209.001,7 M€   -8,65%
4        Francia [+]      -81.263,2 M€   -3,51%
5         Italia [+]       63.289,5 M€    3,81%
..               ...               ...      ...
188        Samoa [+]         -240,2 M€  -31,54%
189        Yemen [+]       -3.739,8 M€  -22,64%
190    Sudáfrica [+]        1.551,2 M€    0,52%
191       Zambia [+]        2.310,5 M€   14,56%
192     Zimbabue [+]       -1.092,9 M€   -4,64%

[192 rows x 3 columns]

In [318]:
df_2020["Año"]= 2020
df_2020

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/3326572427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020["Año"]= 2020

                País Balanza_comercial     %PIB   Año
1         España [+]      -15.694,4 M€   -1,40%  2020
2       Alemania [+]      183.716,9 M€    5,40%  2020
3    Reino Unido [+]     -209.001,7 M€   -8,65%  2020
4        Francia [+]      -81.263,2 M€   -3,51%  2020
5         Italia [+]       63.289,5 M€    3,81%  2020
..               ...               ...      ...   ...
188        Samoa [+]         -240,2 M€  -31,54%  2020
189        Yemen [+]       -3.739,8 M€  -22,64%  2020
190    Sudáfrica [+]        1.551,2 M€    0,52%  2020
191       Zambia [+]        2.310,5 M€   14,56%  2020
192     Zimbabue [+]       -1.092,9 M€   -4,64%  2020

[192 rows x 4 columns]

In [319]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2019"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2               3  \
0               None            None            None            None
1         España [+]    298.337,0 M€    334.017,7 M$    332.958,5 M€
2       Alemania [+]  1.330.414,0 M€  1.489.411,5 M$  1.102.153,3 M€
3    Reino Unido [+]    419.800,5 M€    460.025,9 M$    619.672,2 M€
4        Francia [+]    509.948,2 M€    570.950,8 M$    584.682,5 M€
..               ...             ...             ...             ...
188        Samoa [+]         44,0 M€         49,3 M$        349,0 M€
189        Yemen [+]        582,4 M€        652,0 M$      4.217,4 M€
190    Sudáfrica [+]     80.407,0 M€     90.015,6 M$     96.060,2 M€
191       Zambia [+]      6.288,0 M€      7.039,4 M$      6.407,4 M€
192     Zimbabue [+]      3.813,3 M€      4.269,0 M$      4.303,0 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      372.750,0 M$   -34.621,6 M€   -38.306,3 M$   89,61%   -2,78%   0,31
2    1.233.978,4 M$   228.260,8 M€   254.936,2 M$  120,70%    6,62%  -0,31
3      696.208,0 M$  -199.871,7 M€  -222.983,2 M$   66,08%   -7,91%  -1,36
4      654.658,3 M$   -74.734,3 M€   -81.447,4 M$   87,21%   -3,07%   0,31
..              ...            ...            ...      ...      ...    ...
188        390,7 M$      -305,0 M€      -339,2 M$   12,61%  -37,40%  -1,31
189      4.721,3 M$    -3.635,0 M€    -9.013,0 M$   13,81%  -18,59%  -5,89
190    107.539,4 M$   -15.653,2 M€   -17.523,8 M$   83,70%   -4,51%   0,44
191      7.173,0 M$      -119,4 M€        81,4 M$   98,14%   -0,57%   1,07
192      4.817,2 M$      -489,7 M€       859,0 M$   88,62%   -2,38%   3,94

[193 rows x 10 columns]

In [320]:
clean(df)
df

,País,1,2,3,4,Balanza_comercial,6,7,%PIB,9
1,España [+],"298.337,0 M€","334.017,7 M$","332.958,5 M€","372.750,0 M$","-34.621,6 M€","-38.306,3 M$","89,61%","-2,78%","0,31"
2,Alemania [+],"1.330.414,0 M€","1.489.411,5 M$","1.102.153,3 M€","1.233.978,4 M$","228.260,8 M€","254.936,2 M$","120,70%","6,62%","-0,31"
3,Reino Unido [+],"419.800,5 M€","460.025,9 M$","619.672,2 M€","696.208,0 M$","-199.871,7 M€","-222.983,2 M$","66,08%","-7,91%","-1,36"
4,Francia [+],"509.948,2 M€","570.950,8 M$","584.682,5 M€","654.658,3 M$","-74.734,3 M€","-81.447,4 M$","87,21%","-3,07%","0,31"
5,Italia [+],"480.352,1 M€","537.717,7 M$","424.236,2 M€","475.006,2 M$","56.115,9 M€","59.151,5 M$","113,20%","3,12%","0,90"
...,...,...,...,...,...,...,...,...,...,...
188,Samoa [+],"44,0 M€","49,3 M$","349,0 M€","390,7 M$","-305,0 M€","-339,2 M$","12,61%","-37,40%","-1,31"
189,Yemen [+],"582,4 M€","652,0 M$","4.217,4 M€","4.721,3 M$","-3.635,0 M€","-9.013,0 M$","13,81%","-18,59%","-5,89"
190,Sudáfrica [+],"80.407,0 M€","90.015,6 M$","96.060,2 M€","107.539,4 M$","-15.653,2 M€","-17.523,8 M$","83,70%","-4,51%","0,44"
191,Zambia [+],"6.288,0 M€","7.039,4 M$","6.407,4 M€","7.173,0 M$","-119,4 M€","81,4 M$","98,14%","-0,57%","1,07"
192,Zimbabue [+],"3.813,3 M€","4.269,0 M$","4.303,0 M€","4.817,2 M$","-489,7 M€","859,0 M$","88,62%","-2,38%","3,94"

In [321]:
df_2019 = df[["País", "Balanza_comercial", "%PIB"]]
df_2019["Año"]= 2019
df_2019

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/3821328894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019["Año"]= 2019

                País Balanza_comercial     %PIB   Año
1         España [+]      -34.621,6 M€   -2,78%  2019
2       Alemania [+]      228.260,8 M€    6,62%  2019
3    Reino Unido [+]     -199.871,7 M€   -7,91%  2019
4        Francia [+]      -74.734,3 M€   -3,07%  2019
5         Italia [+]       56.115,9 M€    3,12%  2019
..               ...               ...      ...   ...
188        Samoa [+]         -305,0 M€  -37,40%  2019
189        Yemen [+]       -3.635,0 M€  -18,59%  2019
190    Sudáfrica [+]      -15.653,2 M€   -4,51%  2019
191       Zambia [+]         -119,4 M€   -0,57%  2019
192     Zimbabue [+]         -489,7 M€   -2,38%  2019

[192 rows x 4 columns]

In [322]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2018"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2               3  \
0               None            None            None            None
1         España [+]    293.458,8 M€    346.754,1 M$    330.635,8 M€
2       Alemania [+]  1.320.732,4 M€  1.560.539,2 M$  1.087.431,3 M€
3    Reino Unido [+]    412.055,5 M€    486.439,5 M$    570.546,8 M€
4        Francia [+]    492.964,1 M€    582.221,9 M$    572.576,0 M€
..               ...             ...             ...             ...
187        Samoa [+]         39,0 M€         46,1 M$        307,3 M€
188        Yemen [+]        482,6 M€        570,0 M$      2.804,4 M€
189    Sudáfrica [+]     79.568,2 M€     93.970,1 M$     96.503,4 M€
190       Zambia [+]      7.649,7 M€      9.034,3 M$      8.015,5 M€
191     Zimbabue [+]      3.435,5 M€      4.057,4 M$      5.411,2 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      390.561,8 M$   -37.177,1 M€   -43.807,9 M$   88,78%   -3,09%  -0,63
2    1.284.353,5 M$   233.301,1 M€   276.185,6 M$  121,50%    6,93%  -0,79
3      672.449,7 M$  -158.491,3 M€  -185.827,8 M$   72,34%   -6,55%   1,03
4      676.441,3 M$   -79.611,9 M€   -89.661,4 M$   86,07%   -3,38%  -0,12
..              ...            ...            ...      ...      ...    ...
187        362,9 M$      -268,2 M€      -316,8 M$   12,70%  -36,09%  -0,87
188      3.312,0 M$    -2.321,8 M€    -6.854,5 M$   17,21%  -12,70%  -2,76
189    113.970,5 M$   -16.935,2 M€   -20.001,6 M$   82,45%   -4,95%  -1,64
190      9.466,3 M$      -365,8 M€      -427,6 M$   95,44%   -1,64%  -1,69
191      6.390,6 M$    -1.975,6 M€       287,4 M$   63,49%   -6,32%   1,08

[192 rows x 10 columns]

In [323]:
clean(df)

,País,1,2,3,4,Balanza_comercial,6,7,%PIB,9
1,España [+],"293.458,8 M€","346.754,1 M$","330.635,8 M€","390.561,8 M$","-37.177,1 M€","-43.807,9 M$","88,78%","-3,09%","-0,63"
2,Alemania [+],"1.320.732,4 M€","1.560.539,2 M$","1.087.431,3 M€","1.284.353,5 M$","233.301,1 M€","276.185,6 M$","121,50%","6,93%","-0,79"
3,Reino Unido [+],"412.055,5 M€","486.439,5 M$","570.546,8 M€","672.449,7 M$","-158.491,3 M€","-185.827,8 M$","72,34%","-6,55%","1,03"
4,Francia [+],"492.964,1 M€","582.221,9 M$","572.576,0 M€","676.441,3 M$","-79.611,9 M€","-89.661,4 M$","86,07%","-3,38%","-0,12"
5,Italia [+],"465.325,4 M€","549.526,4 M$","426.045,7 M€","503.240,1 M$","39.279,7 M€","46.286,4 M$","109,20%","2,22%","-0,52"
...,...,...,...,...,...,...,...,...,...,...
187,Samoa [+],"39,0 M€","46,1 M$","307,3 M€","362,9 M$","-268,2 M€","-316,8 M$","12,70%","-36,09%","-0,87"
188,Yemen [+],"482,6 M€","570,0 M$","2.804,4 M€","3.312,0 M$","-2.321,8 M€","-6.854,5 M$","17,21%","-12,70%","-2,76"
189,Sudáfrica [+],"79.568,2 M€","93.970,1 M$","96.503,4 M€","113.970,5 M$","-16.935,2 M€","-20.001,6 M$","82,45%","-4,95%","-1,64"
190,Zambia [+],"7.649,7 M€","9.034,3 M$","8.015,5 M€","9.466,3 M$","-365,8 M€","-427,6 M$","95,44%","-1,64%","-1,69"
191,Zimbabue [+],"3.435,5 M€","4.057,4 M$","5.411,2 M€","6.390,6 M$","-1.975,6 M€","287,4 M$","63,49%","-6,32%","1,08"

In [324]:
df_2018 = df[["País", "Balanza_comercial", "%PIB"]]
df_2018["Año"]= 2018
df_2018

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/1573407052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018["Año"]= 2018

                País Balanza_comercial     %PIB   Año
1         España [+]      -37.177,1 M€   -3,09%  2018
2       Alemania [+]      233.301,1 M€    6,93%  2018
3    Reino Unido [+]     -158.491,3 M€   -6,55%  2018
4        Francia [+]      -79.611,9 M€   -3,38%  2018
5         Italia [+]       39.279,7 M€    2,22%  2018
..               ...               ...      ...   ...
187        Samoa [+]         -268,2 M€  -36,09%  2018
188        Yemen [+]       -2.321,8 M€  -12,70%  2018
189    Sudáfrica [+]      -16.935,2 M€   -4,95%  2018
190       Zambia [+]         -365,8 M€   -1,64%  2018
191     Zimbabue [+]       -1.975,6 M€   -6,32%  2018

[191 rows x 4 columns]

In [325]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2017"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2               3  \
0               None            None            None            None
1         España [+]    283.094,6 M€    319.531,2 M$    311.651,2 M€
2       Alemania [+]  1.281.864,6 M€  1.448.190,8 M$  1.029.617,1 M€
3    Reino Unido [+]    390.718,0 M€    440.996,6 M$    569.583,2 M€
4        Francia [+]    473.814,8 M€    535.298,5 M$    548.626,4 M€
..               ...             ...             ...             ...
187        Samoa [+]         39,3 M€         44,4 M$        315,3 M€
188        Yemen [+]        370,0 M€        418,0 M$      2.733,8 M€
189    Sudáfrica [+]     78.734,9 M€     88.946,8 M$     89.913,8 M€
190       Zambia [+]      7.081,5 M€      8.000,0 M$      7.070,9 M€
191     Zimbabue [+]      3.081,0 M€      3.480,6 M$      4.482,5 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      351.980,9 M$   -28.556,6 M€   -32.450,0 M$   90,78%   -2,46%  -0,75
2    1.162.907,3 M$   252.247,5 M€   285.283,5 M$  124,53%    7,72%  -0,31
3      641.002,3 M$  -178.865,2 M€  -200.005,7 M$   68,80%   -7,58%   0,85
4      619.334,1 M$   -74.811,6 M€   -83.461,1 M$   86,43%   -3,26%  -0,57
..              ...            ...            ...      ...      ...    ...
187        356,2 M$      -276,0 M€      -311,8 M$   12,47%  -35,22%  -0,42
188      3.088,4 M$    -2.363,8 M€    -5.854,1 M$   13,53%   -9,94%  -1,42
189    101.575,6 M$   -11.178,9 M€   -12.628,8 M$   87,57%   -3,31%   1,47
190      7.988,0 M$        10,7 M€        24,2 M$  100,15%    0,05%   4,42
191      5.063,9 M$    -1.401,6 M€        64,3 M$   68,73%   -7,40%   2,33

[192 rows x 10 columns]

In [326]:
clean(df)
df_2017 = df[["País", "Balanza_comercial", "%PIB"]]
df_2017["Año"]= 2017
df_2017

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/277330663.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017["Año"]= 2017

                País Balanza_comercial     %PIB   Año
1         España [+]      -28.556,6 M€   -2,46%  2017
2       Alemania [+]      252.247,5 M€    7,72%  2017
3    Reino Unido [+]     -178.865,2 M€   -7,58%  2017
4        Francia [+]      -74.811,6 M€   -3,26%  2017
5         Italia [+]       47.641,8 M€    2,74%  2017
..               ...               ...      ...   ...
187        Samoa [+]         -276,0 M€  -35,22%  2017
188        Yemen [+]       -2.363,8 M€   -9,94%  2017
189    Sudáfrica [+]      -11.178,9 M€   -3,31%  2017
190       Zambia [+]           10,7 M€    0,05%  2017
191     Zimbabue [+]       -1.401,6 M€   -7,40%  2017

[191 rows x 4 columns]

In [327]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2016"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2             3  \
0               None            None            None          None
1         España [+]    262.041,3 M€    289.981,4 M$  281.056,8 M€
2       Alemania [+]  1.205.488,8 M€  1.334.355,4 M$  953.760,9 M€
3    Reino Unido [+]    369.901,9 M€    410.855,7 M$  575.087,0 M€
4        Francia [+]    453.075,8 M€    501.179,0 M$  513.099,6 M€
..               ...             ...             ...           ...
187        Samoa [+]         50,6 M€         56,0 M$      316,1 M€
188        Yemen [+]        371,3 M€        411,0 M$    2.782,8 M€
189    Sudáfrica [+]     68.854,0 M€     76.214,4 M$   82.836,7 M€
190       Zambia [+]      5.757,0 M€      6.372,4 M$    6.585,7 M€
191     Zimbabue [+]      3.012,6 M€      3.334,7 M$    4.820,3 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      310.921,1 M$   -19.015,5 M€   -20.939,9 M$   93,27%   -1,71%   0,76
2    1.055.326,1 M$   251.727,8 M€   279.029,1 M$  126,44%    8,03%  -0,17
3      636.730,8 M$  -205.185,1 M€  -225.875,0 M$   64,53%   -8,43%  -2,76
4      567.656,9 M$   -60.023,8 M€   -66.478,0 M$   88,29%   -2,69%  -0,05
..              ...            ...            ...      ...      ...    ...
187        349,8 M$      -265,4 M€      -293,8 M$   16,02%  -34,80%   3,03
188      3.080,2 M$    -2.411,5 M€    -6.643,2 M$   13,34%   -8,52%   5,77
189     91.691,9 M$   -13.982,7 M€   -15.477,5 M$   83,12%   -4,78%   2,04
190      7.289,7 M$      -828,7 M€      -915,2 M$   87,42%   -4,37%   1,89
191      5.335,6 M$    -1.807,7 M€      -381,4 M$   62,50%   -9,73%   4,32

[192 rows x 10 columns]

In [328]:
clean(df)
df_2016 = df[["País", "Balanza_comercial", "%PIB"]]
df_2016["Año"]= 2016
df_2016

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/1038412565.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016["Año"]= 2016

                País Balanza_comercial     %PIB   Año
1         España [+]      -19.015,5 M€   -1,71%  2016
2       Alemania [+]      251.727,8 M€    8,03%  2016
3    Reino Unido [+]     -205.185,1 M€   -8,43%  2016
4        Francia [+]      -60.023,8 M€   -2,69%  2016
5         Italia [+]       49.643,1 M€    2,93%  2016
..               ...               ...      ...   ...
187        Samoa [+]         -265,4 M€  -34,80%  2016
188        Yemen [+]       -2.411,5 M€   -8,52%  2016
189    Sudáfrica [+]      -13.982,7 M€   -4,78%  2016
190       Zambia [+]         -828,7 M€   -4,37%  2016
191     Zimbabue [+]       -1.807,7 M€   -9,73%  2016

[191 rows x 4 columns]

In [329]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2015"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2             3  \
0               None            None            None          None
1         España [+]    254.599,4 M€    282.273,6 M$  281.222,1 M€
2       Alemania [+]  1.195.822,4 M€  1.326.206,0 M$  947.626,7 M€
3    Reino Unido [+]    414.699,0 M€    465.849,8 M$  564.728,4 M€
4        Francia [+]    456.514,7 M€    506.264,5 M$  514.613,1 M€
..               ...             ...             ...           ...
187        Samoa [+]         53,1 M€         58,9 M$      334,0 M€
188        Yemen [+]        459,5 M€        509,9 M$    5.924,1 M€
189    Sudáfrica [+]     73.007,7 M€     81.002,0 M$   94.323,0 M€
190       Zambia [+]      5.954,5 M€      6.606,5 M$    7.152,2 M€
191     Zimbabue [+]      2.927,7 M€      3.248,2 M$    5.455,5 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      311.851,2 M$   -26.622,7 M€   -29.577,6 M$   90,52%   -2,47%   0,04
2    1.051.131,9 M$   248.195,7 M€   275.074,1 M$  126,17%    8,20%   0,81
3      630.002,7 M$  -150.029,3 M€  -164.152,9 M$   73,94%   -5,67%   0,36
4      570.758,3 M$   -58.098,4 M€   -64.493,8 M$   88,70%   -2,64%   0,68
..              ...            ...            ...      ...      ...    ...
187        370,6 M$      -280,9 M€      -311,7 M$   15,90%  -37,83%   4,48
188      6.572,8 M$    -5.464,6 M€    -4.662,0 M$    7,76%  -14,29%   7,98
189    104.651,4 M$   -21.315,3 M€   -23.649,3 M$   77,40%   -6,82%   0,77
190      7.935,4 M$    -1.197,7 M€    -1.328,9 M$   83,25%   -6,26%  -6,21
191      6.052,9 M$    -2.527,8 M€      -751,8 M$   53,66%  -14,05%  -2,75

[192 rows x 10 columns]

In [330]:
clean(df)
df_2015 = df[["País", "Balanza_comercial", "%PIB"]]
df_2015["Año"]= 2015
df_2015

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/4027758202.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015["Año"]= 2015

                País Balanza_comercial     %PIB   Año
1         España [+]      -26.622,7 M€   -2,47%  2015
2       Alemania [+]      248.195,7 M€    8,20%  2015
3    Reino Unido [+]     -150.029,3 M€   -5,67%  2015
4        Francia [+]      -58.098,4 M€   -2,64%  2015
5         Italia [+]       41.806,9 M€    2,53%  2015
..               ...               ...      ...   ...
187        Samoa [+]         -280,9 M€  -37,83%  2015
188        Yemen [+]       -5.464,6 M€  -14,29%  2015
189    Sudáfrica [+]      -21.315,3 M€   -6,82%  2015
190       Zambia [+]       -1.197,7 M€   -6,26%  2015
191     Zimbabue [+]       -2.527,8 M€  -14,05%  2015

[191 rows x 4 columns]

In [331]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2014"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2             3  \
0               None            None            None          None
1         España [+]    244.287,2 M€    324.532,7 M$  270.172,6 M€
2       Alemania [+]  1.125.034,2 M€  1.494.213,7 M$  908.574,6 M€
3    Reino Unido [+]    380.194,8 M€    510.789,0 M$  519.568,3 M€
4        Francia [+]    437.785,9 M€    581.392,5 M$  509.231,0 M€
..               ...             ...             ...           ...
187        Samoa [+]         38,3 M€         50,9 M$      292,1 M€
188        Yemen [+]      1.819,3 M€      2.416,9 M$    9.064,0 M€
189    Sudáfrica [+]     70.036,3 M€     93.043,3 M$   91.795,1 M€
190       Zambia [+]      7.297,1 M€      9.694,2 M$    7.306,7 M€
191     Zimbabue [+]      2.910,3 M€      3.866,4 M$    4.569,0 M€

                  4              5              6        7        8      9
0              None           None           None     None     None   None
1      358.860,1 M$   -25.885,4 M€   -34.327,4 M$   90,43%   -2,51%  -0,83
2    1.207.193,0 M$   216.459,6 M€   287.020,7 M$  123,78%    7,39%   0,32
3      694.126,0 M$  -139.373,6 M€  -183.337,0 M$   73,59%   -6,03%  -1,72
4      676.617,1 M$   -71.445,1 M€   -95.224,6 M$   85,93%   -3,32%   0,30
..              ...            ...            ...      ...      ...    ...
187        388,0 M$      -253,8 M€      -337,1 M$   13,12%  -42,31%  -4,16
188     12.041,6 M$    -7.244,8 M€    -4.250,0 M$   20,07%  -22,27%  -7,07
189    121.949,8 M$   -21.758,8 M€   -28.906,6 M$   76,30%   -7,59%  -0,06
190      9.706,9 M$        -9,6 M€       -12,7 M$   99,87%   -0,05%  -0,12
191      6.069,8 M$    -1.658,6 M€      -333,6 M$   63,70%  -11,30%   6,03

[192 rows x 10 columns]

In [332]:
clean(df)
df_2014 = df[["País", "Balanza_comercial", "%PIB"]]
df_2014["Año"]= 2014
df_2014

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/760267956.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014["Año"]= 2014

                País Balanza_comercial     %PIB   Año
1         España [+]      -25.885,4 M€   -2,51%  2014
2       Alemania [+]      216.459,6 M€    7,39%  2014
3    Reino Unido [+]     -139.373,6 M€   -6,03%  2014
4        Francia [+]      -71.445,1 M€   -3,32%  2014
5         Italia [+]       41.931,6 M€    2,58%  2014
..               ...               ...      ...   ...
187        Samoa [+]         -253,8 M€  -42,31%  2014
188        Yemen [+]       -7.244,8 M€  -22,27%  2014
189    Sudáfrica [+]      -21.758,8 M€   -7,59%  2014
190       Zambia [+]           -9,6 M€   -0,05%  2014
191     Zimbabue [+]       -1.658,6 M€  -11,30%  2014

[191 rows x 4 columns]

In [333]:
# URL de la página web que quieres scrapear
url = "https://datosmacro.expansion.com/comercio/balanza?anio=2013"

# Realiza la solicitud a la página web
response = requests.get(url)

# Asegúrate de que la solicitud fue exitosa
if response.status_code == 200:
    # Crea un objeto BeautifulSoup para analizar el HTML
    soup = BeautifulSoup(response.text, 'html.parser')

    # Selecciona el elemento específico que quieres scrapear
    element = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(4) > div > div.table-responsive')

    # Verifica si se encontró el elemento
    if element:
        # Encuentra las filas de la tabla dentro del elemento
        rows = element.find_all('tr')
        
        # Lista para almacenar los datos de la tabla
        table_data = []
        
        # Itera sobre las filas
        for row in rows:
            # Extrae los datos de cada columna
            cols = row.find_all('td')  # Si las celdas son 'td'
            cols = [col.text.strip() for col in cols]  # Limpia el texto en cada celda
            table_data.append(cols)
        
        # Convierte la lista de listas en un DataFrame de pandas
        df = pd.DataFrame(table_data)

        # Imprime el DataFrame
        print(df)
    else:
        print("Elemento no encontrado.")
else:
    print(f"Error al acceder a la página: {response.status_code}")

                   0               1               2             3  \
0               None            None            None          None
1         España [+]    239.310,7 M€    317.833,3 M$  256.453,4 M€
2       Alemania [+]  1.088.071,0 M€  1.445.067,0 M$  889.415,7 M€
3    Reino Unido [+]    407.056,7 M€    546.754,8 M$  497.318,7 M€
4        Francia [+]    437.150,6 M€    580.962,9 M$  513.888,9 M€
..               ...             ...             ...           ...
185        Samoa [+]         46,8 M€         62,1 M$      276,0 M€
186        Yemen [+]      5.368,4 M€      7.129,8 M$    9.993,9 M€
187    Sudáfrica [+]     72.399,3 M€     96.153,5 M$   95.120,9 M€
188       Zambia [+]      7.986,5 M€     10.606,9 M$    7.971,0 M€
189     Zimbabue [+]      2.941,9 M€      3.907,1 M$    5.433,6 M€

                  4             5              6        7        8      9
0              None          None           None     None     None   None
1      340.597,9 M$  -17.142,7 M€   -22.764,6 M$   93,32%   -1,68%   1,50
2    1.181.233,0 M$  198.655,3 M€   263.834,0 M$  122,34%    7,07%   0,09
3      662.160,1 M$  -90.262,0 M€  -115.405,3 M$   82,57%   -4,31%   3,91
4      681.467,2 M$  -76.738,2 M€  -100.504,4 M$   85,25%   -3,62%   0,32
..              ...           ...            ...      ...      ...    ...
185        366,6 M$     -229,3 M€      -304,5 M$   16,94%  -38,15%  -3,27
186     13.272,9 M$   -4.625,5 M€    -4.973,0 M$   53,72%  -15,20%  -3,34
187    126.330,0 M$  -22.721,6 M€   -30.176,5 M$   76,11%   -7,53%  -1,18
188     10.586,3 M$       15,5 M€        20,5 M$  100,19%    0,07%  -2,13
189      7.216,4 M$   -2.491,8 M€      -392,9 M$   54,14%  -17,33%   0,54

[190 rows x 10 columns]

In [334]:
clean(df)
df_2013 = df[["País", "Balanza_comercial", "%PIB"]]
df_2013["Año"]= 2013
df_2013

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/473811353.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2013["Año"]= 2013

                País Balanza_comercial     %PIB   Año
1         España [+]      -17.142,7 M€   -1,68%  2013
2       Alemania [+]      198.655,3 M€    7,07%  2013
3    Reino Unido [+]      -90.262,0 M€   -4,31%  2013
4        Francia [+]      -76.738,2 M€   -3,62%  2013
5         Italia [+]       29.230,4 M€    1,81%  2013
..               ...               ...      ...   ...
185        Samoa [+]         -229,3 M€  -38,15%  2013
186        Yemen [+]       -4.625,5 M€  -15,20%  2013
187    Sudáfrica [+]      -22.721,6 M€   -7,53%  2013
188       Zambia [+]           15,5 M€    0,07%  2013
189     Zimbabue [+]       -2.491,8 M€  -17,33%  2013

[189 rows x 4 columns]

In [335]:
df_hist= pd.concat([df_2023,df_2022,df_2021,df_2020,df_2019,df_2018,df_2017,df_2016,df_2015,df_2014,df_2013],ignore_index=True)
df_hist

                 País Balanza_comercial     %PIB   Año
0          España [+]      -43.500,6 M€   -2,98%  2023
1        Alemania [+]      223.602,9 M€    5,42%  2023
2     Reino Unido [+]     -250.264,8 M€   -8,10%  2023
3         Francia [+]     -127.266,9 M€   -4,51%  2023
4          Italia [+]       34.373,0 M€    1,65%  2023
...               ...               ...      ...   ...
2099        Samoa [+]         -229,3 M€  -38,15%  2013
2100        Yemen [+]       -4.625,5 M€  -15,20%  2013
2101    Sudáfrica [+]      -22.721,6 M€   -7,53%  2013
2102       Zambia [+]           15,5 M€    0,07%  2013
2103     Zimbabue [+]       -2.491,8 M€  -17,33%  2013

[2104 rows x 4 columns]

In [336]:
df_hist.isnull().sum()

País                 0
Balanza_comercial    0
%PIB                 0
Año                  0
dtype: int64

In [337]:
df.duplicated().sum()

0

In [338]:
def clean_total (df):
    df["País"]=df["País"].str.strip(" [+]")
    df["Balanza_comercial"]=df["Balanza_comercial"].str.strip(" M€")
    df["%PIB"]=df["%PIB"].str.strip("%")
    return df

In [339]:
clean_total(df_hist)
df_hist

             País Balanza_comercial    %PIB   Año
0          España        -43.500,6    -2,98  2023
1        Alemania        223.602,9     5,42  2023
2     Reino Unido       -250.264,8    -8,10  2023
3         Francia       -127.266,9    -4,51  2023
4          Italia         34.373,0     1,65  2023
...           ...               ...     ...   ...
2099        Samoa           -229,3   -38,15  2013
2100        Yemen         -4.625,5   -15,20  2013
2101    Sudáfrica        -22.721,6    -7,53  2013
2102       Zambia             15,5     0,07  2013
2103     Zimbabue         -2.491,8   -17,33  2013

[2104 rows x 4 columns]

In [340]:
df_hist.to_csv("balanza_comercial.csv", index=False)

In [341]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2013'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data.csv

In [342]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2014'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2014.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2014.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2014.csv

In [343]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2015'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2015.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2015.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2015.csv

In [344]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2016'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2016.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2016.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2016.csv

In [345]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2017'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2017.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2017.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2017.csv

In [346]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2018'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2018.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2018.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2018.csv

In [347]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2019'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2019.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2019.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2019.csv

In [348]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2020'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2020.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2020.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2020.csv

In [349]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2021'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2021.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2021.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2021.csv

In [350]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2022'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2022.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2022.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2022.csv

In [351]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deficit?anio=2023'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deficit_data_2023.csv', index=False, header=False)
    print("Datos extraídos y guardados en deficit_data_2023.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deficit_data_2023.csv

In [352]:
df_2013 = pd.read_csv("/Users/rodri/deficit_data_2013.csv")
df_2014 = pd.read_csv("/Users/rodri/deficit_data_2014.csv")
df_2015 = pd.read_csv("/Users/rodri/deficit_data_2015.csv")
df_2016 = pd.read_csv("/Users/rodri/deficit_data_2016.csv")
df_2017 = pd.read_csv("/Users/rodri/deficit_data_2017.csv")
df_2018 = pd.read_csv("/Users/rodri/deficit_data_2018.csv")
df_2019 = pd.read_csv("/Users/rodri/deficit_data_2019.csv")
df_2020 = pd.read_csv("/Users/rodri/deficit_data_2020.csv")
df_2021 = pd.read_csv("/Users/rodri/deficit_data_2021.csv")
df_2022 = pd.read_csv("/Users/rodri/deficit_data_2022.csv")
df_2023 = pd.read_csv("/Users/rodri/deficit_data_2023.csv")

In [353]:
def nombrar_quitar_columnas(df):
    df.columns = ['Pais', 'Año', 'Deficit Publico (M)','A','B','C','Deficit Publico (%PIB)','D']
    df.drop(columns= ["A","B","C","D"],inplace=True)

In [354]:
nombrar_quitar_columnas(df_2013)
df_2013.head()

              Pais   Año  Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2013              -76.838                 -7,53%
1     Alemania [+]  2013                1.124                     0%
2  Reino Unido [+]  2013             -115.353                 -5,50%
3      Francia [+]  2013             -104.712                 -4,90%
4       Italia [+]  2013              -46.032                 -2,90%

In [355]:
nombrar_quitar_columnas(df_2014)
df_2014.head()

              Pais   Año  Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2014              -63.097                 -6,11%
1     Alemania [+]  2014               16.966                  0,60%
2  Reino Unido [+]  2014             -127.845                 -5,50%
3      Francia [+]  2014              -98.504                 -4,60%
4       Italia [+]  2014              -48.080                 -3,00%

In [356]:
nombrar_quitar_columnas(df_2015)
df_2015.head()

              Pais   Año  Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2015              -57.235                 -5,31%
1     Alemania [+]  2015               29.068                  1,00%
2  Reino Unido [+]  2015             -120.210                 -4,50%
3      Francia [+]  2015              -85.681                 -3,90%
4       Italia [+]  2015              -42.248                 -2,60%

In [357]:
nombrar_quitar_columnas(df_2016)
df_2016.head()

              Pais   Año  Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2016              -47.893                 -4,30%
1     Alemania [+]  2016               36.374                  1,20%
2  Reino Unido [+]  2016              -79.814                 -3,30%
3      Francia [+]  2016              -84.025                 -3,80%
4       Italia [+]  2016              -40.765                 -2,40%

In [358]:
nombrar_quitar_columnas(df_2017)
df_2017.head()

              Pais   Año  Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2017              -36.228                 -3,12%
1     Alemania [+]  2017               43.652                  1,30%
2  Reino Unido [+]  2017              -57.157                 -2,40%
3      Francia [+]  2017              -77.058                 -3,40%
4       Italia [+]  2017              -42.010                 -2,40%

In [359]:
nombrar_quitar_columnas(df_2018)
df_2018.head()

              Pais   Año  Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2018              -31.224                 -2,59%
1     Alemania [+]  2018               65.623                  1,90%
2  Reino Unido [+]  2018              -54.164                 -2,20%
3      Francia [+]  2018              -54.616                 -2,30%
4       Italia [+]  2018              -38.353                 -2,20%

In [360]:
nombrar_quitar_columnas(df_2019)
df_2019.head()

              Pais   Año Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2019             -38.116                 -3,06%
1     Alemania [+]  2019              52.470                  1,50%
2  Reino Unido [+]  2019             -58.613                 -2,30%
3      Francia [+]  2019             -58.226                 -2,40%
4       Italia [+]  2019             -27.004                 -1,50%

In [361]:
nombrar_quitar_columnas(df_2020)
df_2020.head()

              Pais   Año Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2020            -113.199                -10,12%
1     Alemania [+]  2020            -147.698                 -4,30%
2  Reino Unido [+]  2020            -308.469                -12,76%
3      Francia [+]  2020            -207.084                 -8,90%
4       Italia [+]  2020            -155.845                 -9,40%

In [362]:
nombrar_quitar_columnas(df_2021)
df_2021.head()

              Pais   Año Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2021             -82.262                 -6,73%
1     Alemania [+]  2021            -129.741                 -3,60%
2  Reino Unido [+]  2021            -215.071                 -7,99%
3      Francia [+]  2021            -165.149                 -6,60%
4       Italia [+]  2021            -159.169                 -8,70%

In [363]:
nombrar_quitar_columnas(df_2022)
df_2022.head()

              Pais   Año Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2022             -63.736                 -4,73%
1     Alemania [+]  2022             -96.910                 -2,50%
2  Reino Unido [+]  2022            -161.025                 -5,51%
3      Francia [+]  2022            -125.774                 -4,80%
4       Italia [+]  2022            -167.958                 -8,60%

In [364]:
nombrar_quitar_columnas(df_2023)
df_2023.head()

              Pais   Año Deficit Publico (M) Deficit Publico (%PIB)
0       España [+]  2023             -53.159                 -3,64%
1     Alemania [+]  2023            -101.573                 -2,50%
2  Reino Unido [+]  2022            -161.025                 -5,51%
3      Francia [+]  2023            -153.952                 -5,50%
4       Italia [+]  2023            -154.124                 -7,40%

In [365]:
dataframes= [df_2013, df_2014,df_2015,df_2016,df_2017,df_2018,df_2019,df_2020,df_2021,df_2022,df_2023]
df_deficit= pd.concat(dataframes, ignore_index=True)
df_deficit

                 Pais   Año Deficit Publico (M) Deficit Publico (%PIB)
0          España [+]  2013             -76.838                 -7,53%
1        Alemania [+]  2013               1.124                     0%
2     Reino Unido [+]  2013            -115.353                 -5,50%
3         Francia [+]  2013            -104.712                 -4,90%
4          Italia [+]  2013             -46.032                 -2,90%
...               ...   ...                 ...                    ...
2107        Samoa [+]  2022                  43                  5,37%
2108        Yemen [+]  2022                -580                 -2,60%
2109    Sudáfrica [+]  2022             -18.137                 -4,72%
2110       Zambia [+]  2022              -2.161                 -7,66%
2111     Zimbabue [+]  2021                -658                 -2,16%

[2112 rows x 4 columns]

In [366]:
df_deficit.isnull().sum()

Pais                      0
Año                       0
Deficit Publico (M)       0
Deficit Publico (%PIB)    0
dtype: int64

In [367]:
df_deficit.duplicated().sum()

220

In [368]:
df_deficit.drop_duplicates(inplace=True)

In [369]:
df_deficit.duplicated().sum()

0

In [370]:
df_deficit["Pais"].nunique()

192

In [371]:
df_deficit["Pais"]= df_deficit["Pais"].str.strip(" [+]")

In [372]:
df_deficit["Deficit Publico (%PIB)"]= df_deficit["Deficit Publico (%PIB)"].str.strip("%")

In [373]:
df_deficit.sort_values(by=["Pais","Año"],inplace=True)

In [374]:
df_deficit.to_csv("df_deficit.csv",index=False)

In [375]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2023'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2023.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2023.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2023.csv

In [376]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2022'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2022.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2022.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2022.csv

In [377]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2021'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2021.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2021.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2021.csv

In [378]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2020'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2020.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2020.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2020.csv

In [379]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2019'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2019.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2019.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2019.csv

In [380]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2018'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2018.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2018.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2018.csv

In [381]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2017'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2017.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2017.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2017.csv

In [382]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2016'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2016.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2016.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2016.csv

In [383]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2015'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2015.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2015.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2015.csv

In [384]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2014'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2014.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2014.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2014.csv

In [385]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/deuda?anio=2013'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('body > div.dialog-off-canvas-main-canvas > div.main-container.container.js-quickedit-main-content > div > section > div > article > div > div:nth-child(6) > div > div.table-responsive')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('deuda_2013.csv', index=False, header=False)
    print("Datos extraídos y guardados en deuda_2013.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en deuda_2013.csv

In [386]:
def nombrar_quitar_columnas2(df):
    df.columns = ['Pais', 'Año', 'Deuda Publica (M)','A','B','C','Deuda Publica (%PIB)','D','Deuda Per Capita']
    df.drop(columns= ["A","B","C","D"],inplace=True)
    return df

In [387]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2021'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2021.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2021.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2021.csv

In [388]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2020'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2020.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2020.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2020.csv

In [389]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2019'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2019.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2019.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2019.csv

In [390]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2018'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2018.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2018.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2018.csv

In [391]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2017'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2017.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2017.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2017.csv

In [392]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2016'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2016.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2016.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2016.csv

In [393]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2015'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2015.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2015.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2015.csv

In [394]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2014'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2014.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2014.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2014.csv

In [395]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página
url = 'https://datosmacro.expansion.com/idh?anio=2013'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('IDH_2013.csv', index=False, header=False)
    print("Datos extraídos y guardados en IDH_2013.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en IDH_2013.csv

In [396]:
df_idh_2013 = pd.read_csv("/Users/rodri/IDH_2013.csv")
df_idh_2014 = pd.read_csv("/Users/rodri/IDH_2014.csv")
df_idh_2015 = pd.read_csv("/Users/rodri/IDH_2015.csv")
df_idh_2016 = pd.read_csv("/Users/rodri/IDH_2016.csv")
df_idh_2017 = pd.read_csv("/Users/rodri/IDH_2017.csv")
df_idh_2018 = pd.read_csv("/Users/rodri/IDH_2018.csv")
df_idh_2019 = pd.read_csv("/Users/rodri/IDH_2019.csv")
df_idh_2020 = pd.read_csv("/Users/rodri/IDH_2020.csv")
df_idh_2021 = pd.read_csv("/Users/rodri/IDH_2021.csv")

In [397]:
def limpiar_idh (df):
    df.rename(columns= {"Unnamed: 0": "Country Name"}, inplace= True)
    df.rename(columns= {"Unnamed: 1": "IDH"}, inplace= True)
    df.drop(columns= ["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace=True)
    df["Country Name"]=df["Country Name"].str.strip(" [+]")
    return df

In [398]:
limpiar_idh(df_idh_2013)

    Country Name    IDH
0         España  0,880
1       Alemania  0,934
2    Reino Unido  0,922
3        Francia  0,887
4         Italia  0,882
..           ...    ...
185        Samoa  0,710
186        Yemen  0,513
187    Sudáfrica  0,704
188       Zambia  0,554
189     Zimbabue  0,567

[190 rows x 2 columns]

In [399]:
limpiar_idh(df_idh_2014)
limpiar_idh(df_idh_2015)
limpiar_idh(df_idh_2016)
limpiar_idh(df_idh_2017)
limpiar_idh(df_idh_2018)
limpiar_idh(df_idh_2019)
limpiar_idh(df_idh_2020)
limpiar_idh(df_idh_2021)

    Country Name    IDH
0         España  0,905
1       Alemania  0,942
2    Reino Unido  0,929
3        Francia  0,903
4         Italia  0,895
..           ...    ...
186        Samoa  0,707
187        Yemen  0,455
188    Sudáfrica  0,713
189       Zambia  0,565
190     Zimbabue  0,593

[191 rows x 2 columns]

In [400]:
df_idh_2013["Año"]=2013
df_idh_2013

    Country Name    IDH   Año
0         España  0,880  2013
1       Alemania  0,934  2013
2    Reino Unido  0,922  2013
3        Francia  0,887  2013
4         Italia  0,882  2013
..           ...    ...   ...
185        Samoa  0,710  2013
186        Yemen  0,513  2013
187    Sudáfrica  0,704  2013
188       Zambia  0,554  2013
189     Zimbabue  0,567  2013

[190 rows x 3 columns]

In [401]:
df_idh_2014["Año"]=2014
df_idh_2015["Año"]=2015
df_idh_2016["Año"]=2016
df_idh_2017["Año"]=2017
df_idh_2018["Año"]=2018
df_idh_2019["Año"]=2019
df_idh_2020["Año"]=2020
df_idh_2021["Año"]=2021

In [402]:
dataframes= [df_idh_2013, df_idh_2014, df_idh_2015, df_idh_2016, df_idh_2017, df_idh_2018, df_idh_2019, df_idh_2020, df_idh_2021]
df_idh = pd.concat(dataframes, ignore_index=True)
df_idh

     Country Name    IDH   Año
0          España  0,880  2013
1        Alemania  0,934  2013
2     Reino Unido  0,922  2013
3         Francia  0,887  2013
4          Italia  0,882  2013
...           ...    ...   ...
1709        Samoa  0,707  2021
1710        Yemen  0,455  2021
1711    Sudáfrica  0,713  2021
1712       Zambia  0,565  2021
1713     Zimbabue  0,593  2021

[1714 rows x 3 columns]

In [403]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL de la página que quieres scrapear
url = "https://www.eustat.eus/elementos/ele0013500/ti_indice-de-desarrollo-humano-por-indicadores-segun-paises-2019/tbl0013566_c.html"

# Hacer la solicitud HTTP
response = requests.get(url)

# Comprobar que la solicitud fue exitosa
if response.status_code == 200:
    # Parsear el contenido HTML con BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Seleccionar el elemento usando el selector CSS proporcionado
    container = soup.select_one("#containerID > div.col-lg-12.col-md-12.col-sm-12.col-xs-12 > div")
    
    if container:
        # Asumiendo que el contenedor contiene una tabla HTML
        table = container.find("table")
        
        if table:
            # Leer la tabla en un DataFrame de pandas
            df = pd.read_html(str(table))[0]  # Convertir la tabla a DataFrame
            
            # Guardar el DataFrame en un archivo CSV
            df.to_csv("indice_desarrollo_humano_2019.csv", index=False)
            
            print("Datos guardados en 'indice_desarrollo_humano_2019.csv'")
        else:
            print("No se encontró una tabla en el contenedor.")
    else:
        print("No se encontró el contenedor con el selector proporcionado.")
else:
    print(f"Error al hacer la solicitud: {response.status_code}")

Datos guardados en 'indice_desarrollo_humano_2019.csv'

/var/folders/cy/4jtvxlld09qd1srrzgj8fyy00000gp/T/ipykernel_10268/816554103.py:25: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]  # Convertir la tabla a DataFrame

In [404]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2023'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2023.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2023.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2023.csv

In [405]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2022'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2022.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2022.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2022.csv

In [406]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2021'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2021.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2021.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2021.csv

In [407]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2020'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2020.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2020.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2020.csv

In [408]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2019'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2019.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2019.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2019.csv

In [409]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2018'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2018.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2018.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2018.csv

In [410]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2017'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2017.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2017.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2017.csv

In [411]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2016'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2016.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2016.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2016.csv

In [412]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2015'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2015.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2015.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2015.csv

In [413]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2014'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2014.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2014.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2014.csv

In [414]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/riesgo-pobreza?anio=2013'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Riesgo Pobreza 2013.csv', index=False, header=False)
    print("Datos extraídos y guardados en Riesgo Pobreza 2013.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Riesgo Pobreza 2013.csv

In [415]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2023'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion.csv

In [416]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2022'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2022.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2022.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2022.csv

In [417]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2021'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2021.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2021.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2021.csv

In [418]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2020'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2020.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2020.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2020.csv

In [419]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2019'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2019.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2019.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2019.csv

In [420]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2018'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2018.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2018.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2018.csv

In [421]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2017'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2017.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2017.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2017.csv

In [422]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2016'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2016.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2016.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2016.csv

In [423]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2015'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2015.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2015.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2015.csv

In [424]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2014'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2014.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2014.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2014.csv

In [425]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/tasa-alfabetizacion?anio=2013'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('tasa alfabetizacion 2013.csv', index=False, header=False)
    print("Datos extraídos y guardados en Tasa alfabetizacion 2013.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Tasa alfabetizacion 2013.csv

In [426]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2022'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2022.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2022.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2022.csv

In [427]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2021'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2021.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2021.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2021.csv

In [428]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2020'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2020.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2020.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2020.csv

In [429]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2019'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2019.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2019.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2019.csv

In [430]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2018'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2018.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2018.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2018.csv

In [431]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2017'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2017.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2017.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2017.csv

In [432]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2016'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2016.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2016.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2016.csv

In [433]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2015'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2015.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2015.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2015.csv

In [434]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2014'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2014.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2014.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2014.csv

In [435]:
# URL de la página
url = 'https://datosmacro.expansion.com/estado/indice-percepcion-corrupcion?anio=2013'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('indice de percepcion de la corrupcion 2013.csv', index=False, header=False)
    print("Datos extraídos y guardados en indice de percepcion de la corrupcion 2013.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en indice de percepcion de la corrupcion 2013.csv

In [449]:
df_corrupcion_2013 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2013.csv")
df_corrupcion_2013

          Unnamed: 0 Unnamed: 1  Unnamed: 2  Unnamed: 3 Unnamed: 4
0         España [+]        40º          59         NaN     -9,23%
1       Alemania [+]        12º          78         NaN     -1,27%
2    Reino Unido [+]        14º          76         NaN      2,70%
3        Francia [+]        22º          71         NaN          0
4         Italia [+]        69º          43         NaN      2,38%
..               ...        ...         ...         ...        ...
170     Viet Nam [+]       116º          31         NaN          0
171        Yemen [+]       167º          18         NaN    -21,74%
172    Sudáfrica [+]        72º          42         NaN     -2,33%
173       Zambia [+]        83º          38         NaN      2,70%
174     Zimbabue [+]       157º          21         NaN      5,00%

[175 rows x 5 columns]

In [450]:
def limpieza_corrupcion (df):
    df.rename(columns = {"Unnamed: 0": "Country Name","Unnamed: 2": "Indice de Corrupcion"},inplace=True)
    df.drop(columns = ["Unnamed: 1","Unnamed: 3","Unnamed: 4"],inplace=True)
    df["Country Name"] = df["Country Name"].str.strip(" [+]")

    return df

In [451]:
limpieza_corrupcion(df_corrupcion_2013)

    Country Name  Indice de Corrupcion
0         España                    59
1       Alemania                    78
2    Reino Unido                    76
3        Francia                    71
4         Italia                    43
..           ...                   ...
170     Viet Nam                    31
171        Yemen                    18
172    Sudáfrica                    42
173       Zambia                    38
174     Zimbabue                    21

[175 rows x 2 columns]

In [452]:
df_corrupcion_2014 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2014.csv")
df_corrupcion_2015 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2015.csv")
df_corrupcion_2016 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2016.csv")
df_corrupcion_2017 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2017.csv")
df_corrupcion_2018 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2018.csv")
df_corrupcion_2019 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2019.csv")
df_corrupcion_2020 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2020.csv")
df_corrupcion_2021 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2021.csv")
df_corrupcion_2022 = pd.read_csv("/Users/rodri/indice de percepcion de la corrupcion 2022.csv")

In [453]:
limpieza_corrupcion(df_corrupcion_2014)
limpieza_corrupcion(df_corrupcion_2015)
limpieza_corrupcion(df_corrupcion_2016)
limpieza_corrupcion(df_corrupcion_2017)
limpieza_corrupcion(df_corrupcion_2018)
limpieza_corrupcion(df_corrupcion_2019)
limpieza_corrupcion(df_corrupcion_2020)
limpieza_corrupcion(df_corrupcion_2021)
limpieza_corrupcion(df_corrupcion_2022)

    Country Name  Indice de Corrupcion
0         España                    60
1       Alemania                    79
2    Reino Unido                    73
3        Francia                    72
4         Italia                    56
..           ...                   ...
174      Vanuatu                    48
175        Yemen                    16
176    Sudáfrica                    43
177       Zambia                    33
178     Zimbabue                    23

[179 rows x 2 columns]

In [454]:
df_corrupcion_2013["Año"]=2013
df_corrupcion_2014["Año"]=2014
df_corrupcion_2015["Año"]=2015
df_corrupcion_2016["Año"]=2016
df_corrupcion_2017["Año"]=2017
df_corrupcion_2018["Año"]=2018
df_corrupcion_2019["Año"]=2019
df_corrupcion_2020["Año"]=2020
df_corrupcion_2021["Año"]=2021
df_corrupcion_2022["Año"]=2022

In [455]:
datasets=[df_corrupcion_2013,df_corrupcion_2014,df_corrupcion_2015,df_corrupcion_2016,df_corrupcion_2017,df_corrupcion_2018,df_corrupcion_2019,df_corrupcion_2020,df_corrupcion_2021,df_corrupcion_2022]

df_corrupcion = pd.concat(datasets,ignore_index=False)

In [457]:
df_corrupcion.isnull().sum()

Country Name            0
Indice de Corrupcion    0
Año                     0
dtype: int64

In [458]:
df_corrupcion.duplicated().sum()

0

In [459]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2023'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2023.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2023.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2023.csv

In [460]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2022'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2022.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2022.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2022.csv

In [461]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2021'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2021.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2021.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2021.csv

In [462]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2020'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2020.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2020.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2020.csv

In [463]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2019'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2019.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2019.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2019.csv

In [464]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2018'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2018.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2018.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2018.csv

In [465]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2017'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2017.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2017.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2017.csv

In [466]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2016'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2016.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2016.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2016.csv

In [467]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2015'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2015.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2015.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2015.csv

In [468]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2014'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2014.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2014.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2014.csv

In [469]:
# URL de la página
url = 'https://datosmacro.expansion.com/demografia/indice-gini?anio=2013'

# Realizar la solicitud HTTP
response = requests.get(url)
html_content = response.content

# Parsear el HTML con BeautifulSoup
soup = BeautifulSoup(html_content, 'html.parser')

# Seleccionar la tabla usando el selector CSS
table = soup.select_one('#tb1')

# Verificar si la tabla fue encontrada
if table:
    # Extraer datos de la tabla
    rows = table.find_all('tr')
    data = []
    for row in rows:
        cols = row.find_all('td')
        data.append([col.text.strip() for col in cols])
    
    # Convertir a DataFrame y guardar en CSV
    df = pd.DataFrame(data)
    df.to_csv('Indice de Gini 2013.csv', index=False, header=False)
    print("Datos extraídos y guardados en Indice de Gini 2013.csv")
else:
    print("No se encontró la tabla en el selector proporcionado.")

Datos extraídos y guardados en Indice de Gini 2013.csv